.page {
    margin-top: 8rem;
    min-height: 100%;
    // border: 1px solid red;

    &__block {
        display: flex;
        justify-content: space-between;
        background: #6e6e6e;
        padding: 15px;
        cursor: pointer;

        &--title {
          color: $white;
          font-size: 25px;
          line-height: 35px;
          transition: all .4s;
        }
    
        &--cube {
          transition: all .4s;
        }

        &:hover &--title, &:hover &--cube {
          filter: opacity(50%);
        }
    }
  }

  .page-divider {
    background: linear-gradient(90deg, rgba(25,25,23,0.2) 0%, rgba(51,51,49,0.2) 12%, rgba(72,72,70,0.2) 25%, rgba(90,90,90,0.2) 37%, rgba(108,108,108,0.2) 50%, rgba(92,92,92,0.2) 62%, rgba(72,72,70,0.2) 75%, rgba(52,52,50,0.2) 87%, rgba(27,27,25,0.2) 100%);
    min-height: 62px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__cube {
      height: 50px;
    }

    &__title {
      text-transform: uppercase;
      font-size: 25px;
      margin-left: 5%;
      color: white;
    }
}

  .crumbs {
    display: flex;
    align-items: center;
    color: $grey;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 1rem;
  
    & a {
      color: $grey;
      transition: all .4s;
  
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  
    &__img {
      width: 1rem;
    }
  
    &__path {
      margin-left: 1rem;
    }
  }