
$black: rgb(26, 26, 26);
$black-background-color: rgb(26, 26, 24);
$grey: rgb(102, 102, 102);
$grey2: #333333;
$greydim: rgb(88, 88, 87);

$vwhite: rgb(254, 254, 254);
$vwhite2: rgba(252, 252, 252, .8);

$red: rgb(203, 55, 57);

$font: "Pf_Beau", Helvetica, Arial;

